# --- Python ---
/demos/__pycache__
*.py[cod]

# --- Virtual environments ---
venv/

# --- Django / Project data ---
db.sqlite3
*.log
/svn_cache
media/
staticfiles/
thumb/

# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

.gitignore.bak

demos/__pycache__/views.cpython-311.pyc
*.pyc

/thumb_cache
/demos/__pycache__
